<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>techbrain-feed</id>
      <username>pchmielecki87</username>
      <password>{sk1MYzaV2EkHUtneHxj2m3Tlc44yVkCTi1wB5LzaFb2flLp7LQ1uJxgTybA9/rk3J7UmB9PHxhVU79VwoLXviAQi7cgqYTJpb0nNZXfDH9M=}</password>
    </server>
  </servers>
</settings>